*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f3f6fd;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  padding: 0 2rem;
}

.heading-secondary {
  white-space: nowrap;
  font-size: 3rem;
  font-weight: 600;
  color: #444;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 600;
  color: #444;
}

.header {
  width: 100%;
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 6rem;
}
.header__ham {
  font-size: 3rem;
}
.header__title {
  font-weight: 600;
  font-size: 4rem;
}
@media (max-width: 36.5em) {
  .header__title {
    font-size: 2rem;
  }
}
.header__static {
  display: flex;
  align-items: center;
  gap: 10rem;
}
@media (max-width: 54.5em) {
  .header__static {
    gap: 5rem;
  }
}
@media (max-width: 36.5em) {
  .header__static {
    margin-right: 2rem;
  }
}
.header__search-container {
  background: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.header__search-icon {
  font-size: 2rem;
  margin-right: 2rem;
}
.header__search-text {
  border: none;
  font-size: 1.5rem;
  font-family: inherit;
}
@media (max-width: 49em) {
  .header__search-text {
    display: none;
  }
}
@media (max-width: 36.5em) {
  .header__search-text {
    margin-right: 2rem !important;
  }
}
.header__search-text:focus-visible {
  outline: none;
}
.header__cta {
  white-space: nowrap;
  border-right: 1px solid #151522;
  padding-right: 2rem;
}
.header__action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.header__action-plus {
  font-size: 2.5rem;
  margin-right: 1rem;
  cursor: pointer;
}
.header__action-noti {
  font-size: 2.5rem;
  position: relative;
  cursor: pointer;
}
.header__action-noti::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 3px;
}
.header__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.header__profile-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.header__profile-text {
  white-space: nowrap;
  display: inline-block;
  font-size: 2rem;
  font-weight: 550;
}
@media (max-width: 54.5em) {
  .header__profile-text {
    font-size: 1.5rem;
  }
}

.nav__contianer {
  list-style: none;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (max-width: 49em) {
  .nav__contianer {
    flex-direction: row;
    justify-content: center;
    padding: 0;
    transform: translateY(-5rem);
  }
}
.nav__link {
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__link-icon {
  color: inherit;
  z-index: 1;
}
.nav__link:hover {
  color: #fff;
  background-color: #151522;
  border-radius: 50%;
}

.message {
  transform: translateY(-1rem);
}
.message__heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f5f5f5;
  padding-top: 4rem;
  padding-left: 3rem;
}
.message-card {
  display: flex;
  padding: 1rem;
  gap: 2rem;
  padding-left: 3rem;
  transition: all 0.4s;
  border-bottom: 1px solid #f5f5f5;
}
.message-card__img {
  margin-top: 0.5rem;
}
.message-card__img img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
@media (max-width: 67em) {
  .message-card__text {
    width: 100%;
  }
}
.message-card__text-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}
.message-card__text-mes p {
  height: 3rem;
  line-height: 1.5rem;
  overflow-y: hidden;
}
.message-card__text > p {
  text-align: end;
  color: #777;
}
.message-card__text__icon {
  font-size: 1.5rem;
  color: #000;
  transition: all 0.3s;
  padding: 0.4rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.message-card__text__icon:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}
.message-card:hover {
  background-color: #fff;
  transform: scale(1.1);
  border-radius: 20px;
  box-shadow: 0 1rem 1.8rem rgba(21, 21, 34, 0.2);
}

.project-container {
  border-radius: 50px;
  background-color: #fff;
}

.project-all-info-container {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}
@media (max-width: 54.5em) {
  .project-all-info-container {
    gap: 3rem;
  }
}

.card-conatiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 6rem;
  margin-top: 3rem;
}
@media (max-width: 67em) {
  .card-conatiner {
    padding: 0 3rem;
  }
}
@media (max-width: 49em) {
  .card-conatiner {
    padding: 0 0.8rem;
  }
}
@media (max-width: 41em) {
  .card-conatiner {
    grid-template-columns: 1fr;
    padding: 0;
  }
}

.card {
  border-radius: 24px;
  width: 35rem;
  height: 30rem;
  padding: 1.8rem;
  position: relative;
  justify-self: center;
  box-shadow: 0 1.2rem 2.16rem rgba(21, 21, 34, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
}
.card__date {
  font-size: 1.44rem;
  color: #444;
  margin-bottom: 3rem;
}
.card__menu {
  position: absolute;
  top: 1.44rem;
  right: 1.8rem;
  font-size: 1.44rem;
  color: #444;
  cursor: pointer;
}
.card__title {
  font-weight: 600;
  color: #444;
  font-size: 2.16rem;
  text-align: center;
}
.card__subtitle {
  font-size: 1.44rem;
  color: #666;
  margin-bottom: 2.8rem;
  text-align: center;
}
.card__progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__progress__text {
  width: 100%;
  font-weight: 600;
  color: #666;
}
.card__progress__text--end {
  text-align: end;
  padding-bottom: 3rem;
  margin-bottom: 2.16rem;
  border-bottom: 1.2px solid #f5f5f5;
  width: 100%;
}
.card__progress-bar {
  flex: 1;
  height: 0.72rem;
  background-color: #fff;
  border-radius: 3.6px;
  margin: 0.6rem 0;
  overflow: hidden;
}
.card__progress-bar-fill {
  width: 50%;
  height: 100%;
}
.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__avatars {
  display: flex;
}
.card__avatars > .card__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: -6px;
  border: 1.2px solid #fff;
}
.card__avatars > .card__add-icon {
  font-size: 3rem;
  border-radius: 50%;
  margin-left: 0.6rem;
  cursor: pointer;
}
.card__deadline {
  background-color: #fff;
  padding: 0.96rem 2.4rem;
  border-radius: 24px;
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 81.5em) {
  .card {
    border-radius: 20px;
    width: 26rem;
    height: 23rem;
    padding: 1.5rem;
    box-shadow: 0 1rem 1.8rem rgba(21, 21, 34, 0.2);
  }
  .card__date {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
  }
  .card__menu {
    top: 1.2rem;
    right: 1.5rem;
    font-size: 1.2rem;
  }
  .card__title {
    font-size: 1.8rem;
  }
  .card__subtitle {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  .card__progress__text--end {
    padding-bottom: 1.5rem;
    margin-bottom: 1.8rem;
    border-bottom: 1px solid #f5f5f5;
  }
  .card__progress-bar {
    height: 0.6rem;
    border-radius: 3px;
    margin: 0.5rem 0;
  }
  .card__avatars > .card__avatar {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: -5px;
    border: 1px solid #fff;
  }
  .card__avatars > .card__add-icon {
    font-size: 2.5rem;
    margin-left: 0.5rem;
  }
  .card__deadline {
    padding: 0.8rem 2rem;
    border-radius: 20px;
    font-size: 1rem;
  }
}
.card__progress-bar-fill {
  width: 0%;
  transition: width 0.4s ease;
}

.card--progress-10 .card__progress-bar-fill {
  width: 10%;
}

.card--progress-20 .card__progress-bar-fill {
  width: 20%;
}

.card--progress-30 .card__progress-bar-fill {
  width: 30%;
}

.card--progress-40 .card__progress-bar-fill {
  width: 40%;
}

.card--progress-50 .card__progress-bar-fill {
  width: 50%;
}

.card--progress-60 .card__progress-bar-fill {
  width: 60%;
}

.card--progress-70 .card__progress-bar-fill {
  width: 70%;
}

.card--progress-80 .card__progress-bar-fill {
  width: 80%;
}

.card--progress-90 .card__progress-bar-fill {
  width: 90%;
}

.card--progress-100 .card__progress-bar-fill {
  width: 100%;
}

.card--white {
  background-color: #fefffe;
}
.card--white::before, .card--white::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: rgb(181.3333333333, 232.9, 250.6666666667);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: -1;
}
.card--white::before {
  width: 90%;
  bottom: -10px;
}
.card--white::after {
  width: 70%;
  bottom: -16px;
}
.card--white:hover::before, .card--white:hover::after {
  opacity: 1;
}
.card--white .card__progress-bar-fill {
  background-color: #55ccf5;
}
.card--white .card__avatars > .card__add-icon {
  color: #55ccf5;
}
.card--white .card__deadline {
  color: #55ccf5;
  background-color: rgba(85, 205, 245, 0.1725490196);
}

.card--orange {
  background-color: #ffe5cb;
}
.card--orange::before, .card--orange::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: rgb(246.3197969543, 190.8629441624, 168.6802030457);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: -1;
}
.card--orange::before {
  width: 90%;
  bottom: -10px;
}
.card--orange::after {
  width: 70%;
  bottom: -16px;
}
.card--orange:hover::before, .card--orange:hover::after {
  opacity: 1;
}
.card--orange .card__progress-bar-fill {
  background-color: #ed7a4c;
}
.card--orange .card__avatars > .card__add-icon {
  color: #ed7a4c;
}
.card--orange .card__deadline {
  color: #ed7a4c;
  background-color: white;
}

.card--green {
  background-color: #bbf2d2;
}
.card--green::before, .card--green::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: rgb(69.1698113208, 244.8301886792, 136.6603773585);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: -1;
}
.card--green::before {
  width: 90%;
  bottom: -10px;
}
.card--green::after {
  width: 70%;
  bottom: -16px;
}
.card--green:hover::before, .card--green:hover::after {
  opacity: 1;
}
.card--green .card__progress-bar-fill {
  background-color: #0bc954;
}
.card--green .card__avatars > .card__add-icon {
  color: #0bc954;
}
.card--green .card__deadline {
  color: #0bc954;
  background-color: white;
}

.card--pink {
  background-color: #fed2e2;
}
.card--pink::before, .card--pink::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: rgb(252.2027027027, 211.7972972973, 228.5810810811);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: -1;
}
.card--pink::before {
  width: 90%;
  bottom: -10px;
}
.card--pink::after {
  width: 70%;
  bottom: -16px;
}
.card--pink:hover::before, .card--pink:hover::after {
  opacity: 1;
}
.card--pink .card__progress-bar-fill {
  background-color: #f674aa;
}
.card--pink .card__avatars > .card__add-icon {
  color: #f674aa;
}
.card--pink .card__deadline {
  color: #f674aa;
  background-color: white;
}

.card--purple {
  background-color: #e9e7fd;
}
.card--purple::before, .card--purple::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: rgb(173.4, 102, 255);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: -1;
}
.card--purple::before {
  width: 90%;
  bottom: -10px;
}
.card--purple::after {
  width: 70%;
  bottom: -16px;
}
.card--purple:hover::before, .card--purple:hover::after {
  opacity: 1;
}
.card--purple .card__progress-bar-fill {
  background-color: #7700ff;
}
.card--purple .card__avatars > .card__add-icon {
  color: #7700ff;
}
.card--purple .card__deadline {
  color: #7700ff;
  background-color: white;
}

.card--skin {
  background-color: #ffe4aa;
}
.card--skin::before, .card--skin::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: rgb(255, 193.8, 102);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: -1;
}
.card--skin::before {
  width: 90%;
  bottom: -10px;
}
.card--skin::after {
  width: 70%;
  bottom: -16px;
}
.card--skin:hover::before, .card--skin:hover::after {
  opacity: 1;
}
.card--skin .card__progress-bar-fill {
  background-color: #ff9900;
}
.card--skin .card__avatars > .card__add-icon {
  color: #ff9900;
}
.card--skin .card__deadline {
  color: #ff9900;
  background-color: white;
}

.user-intraction {
  display: inline-block;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 1rem;
}
@media (max-width: 67em) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.project-container {
  transform: translateY(-4rem);
  padding: 4rem;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 90fr;
}
@media (max-width: 49em) {
  .main-grid {
    grid-template-columns: 1fr;
  }
}

.project-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 2rem;
}
.project-heading__text {
  font-size: 2rem;
  font-weight: 600;
  color: #444;
}

.project-info-container {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
@media (max-width: 54.5em) {
  .project-info-container {
    gap: 1rem;
  }
}

.project-info__subtext {
  font-size: 1.2rem;
  color: #666;
  white-space: nowrap;
}
.project-info__num {
  font-size: 3rem;
  font-weight: 600;
}
.project-info__icon {
  font-size: 0.7rem;
  margin-left: 1rem;
}
.project-info__icon:hover {
  background-color: green;
  border-radius: 50%;
}

.filter-group {
  white-space: nowrap;
}
.filter-group__icon {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */