@use "../abstracts/variables" as *;

.message {

  transform: translateY(-1rem);

  &__heading {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid $card-hor-color;
    padding-top: 4rem;
    padding-left: 3rem;
  }

  &-card {
    display: flex;
    padding: 1rem;
    gap: 2rem;
    padding-left: 3rem;
    transition: all 0.4s;
    &__img {
      margin-top: 0.5rem;
      & img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
      }
    }

    &__text {
      @media (max-width: 67em) {
        width: 100%;
      }

      &-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.8rem;
    
      }

      &-mes p {
        height: 3rem;
        line-height: 1.5rem;
        overflow-y: hidden;
      }

      & > p {
        text-align: end;
        color: $gray-dark-color;
      }

      &__icon {
        font-size: 1.5rem;
        color: #000;
        transition: all 0.3s;
        padding: 0.4rem;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: #000;
          color: $white-color;
          border: 1px solid $white-color;
        }
      }
    }

    border-bottom: 1px solid $card-hor-color;

    &:hover {
      background-color: $white-color;
      transform: scale(1.1);
      border-radius: 20px;
      box-shadow: 0 1rem 1.8rem rgba($black-color, 0.2);
    }
  }
}
