@use "../abstracts/variables" as *;
.message-card-container {
  height: 85vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  // Hide scrollbar for Firefox
  scrollbar-width: none;

  // Hide scrollbar for IE and old Edge (if needed)
  -ms-overflow-style: none;
}
.message {
  &__heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray-dark-color;
    padding: 2rem 2rem 2rem 4rem;

    align-items: center;
  }

  &-card {
    display: flex;
    padding: 1rem;

    @media (max-width: 75em) {
      padding: 0;
      padding-top: 1rem;
    }
    gap: 2rem;
    padding-left: 3rem;
    transition: all 0.4s;
    &__img {
      margin-top: 0.5rem;
      & img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
      }
    }

    &__text {
      @media (max-width: 67em) {
        width: 100%;
      }

      &-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.8rem;
      }

      &-mes p {
        height: 3rem;
        line-height: 1.5rem;
        overflow-y: hidden;
      }

      & > p {
        text-align: end;
        color: $gray-dark-color;
      }

      &__icon {
        font-size: 1.5rem;
        color: #000;
        transition: all 0.3s;
        padding: 0.4rem;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: #000;
          color: $white-color;
          border: 1px solid $white-color;
        }
      }
    }

    border-bottom: 1px solid $gray-dark-color;

    &:hover {
      background-color: $white-color;
      transform: scaleX(1.05);
      border-radius: 20px;
      box-shadow: 0 1rem 1.8rem rgba($black-color, 0.2);
    }

    @media (max-width: 75em) {
      &:hover {
        transform: none;
        background-color: $white-color;
        border-radius: 20px;
        box-shadow: 0 1rem 1.8rem rgba($black-color, 0.2);
      }
    }
  }
}

.message::-webkit-scrollbar {
  width: 6px;
}

.message::-webkit-scrollbar-track {
  background: transparent;
}

.message::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.message::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
