.user-intraction {
  display: inline-block;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 1rem;

  @media (max-width: 75em) {
    grid-template-columns: 1fr;
  }
}

.project-container {
  transform: translateY(-4rem);
  padding: 4rem;
}
.project-container::-webkit-scrollbar {
  width: 6px;
}

.project-container::-webkit-scrollbar-track {
  background: transparent;
}

.project-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 3px;
}

.project-container::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 90fr;
  @media (max-width: 49em) {
    grid-template-columns: 1fr;
  }
}
