@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.card-conatiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 6rem;
  column-gap: 2rem;
  margin-top: 3rem;

  @media (max-width: 67em) {
    padding: 0 3rem;
  }

  @media (max-width: 49em) {
    padding: 0 0.8rem;
  }

  @media (max-width: 41em) {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
.card {
  border-radius: 24px;
  width: 35rem;
  height: 30rem;
  padding: 1.8rem;
  position: relative;
  justify-self: center;
  box-shadow: 0 1.2rem 2.16rem rgba($black-color, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &__date {
    font-size: 1.44rem;
    color: $gary-mid-color;
    margin-bottom: 3rem;
  }

  &__menu {
    position: absolute;
    top: 1.44rem;
    right: 1.8rem;
    font-size: 1.44rem;
    color: $gary-mid-color;
    cursor: pointer;
  }

  &__title {
    font-weight: 600;
    color: $gary-mid-color;
    font-size: 2.16rem;
    text-align: center;
  }

  &__subtitle {
    font-size: 1.44rem;
    color: $gray-light-color;
    margin-bottom: 2.8rem;
    text-align: center;
  }

  &__progress {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text {
      width: 100%;
      font-weight: 600;
      color: $gray-light-color;

      &--end {
        text-align: end;
        padding-bottom: 3rem;
        margin-bottom: 2.16rem;
        border-bottom: 1.2px solid $card-hor-color;
        width: 100%;
      }
    }

    &-bar {
      flex: 1;
      height: 0.72rem;
      background-color: $white-color;
      border-radius: 3.6px;
      margin: 0.6rem 0;
      overflow: hidden;

      &-fill {
        width: 50%;
        height: 100%;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__avatars {
    display: flex;

    & > .card__avatar {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      margin-right: -6px;
      border: 1.2px solid $white-color;
    }

    & > .card__add-icon {
      font-size: 3rem;
      border-radius: 50%;
      margin-left: 0.6rem;
      cursor: pointer;
    }
  }

  &__deadline {
    background-color: $white-color;
    padding: 0.96rem 2.4rem;
    border-radius: 24px;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

@media (max-width: 67em) {
  .card {
    border-radius: 20px;
    width: 26rem;
    height: 23rem;
    padding: 1.5rem;
    box-shadow: 0 1rem 1.8rem rgba($black-color, 0.2);

    &__date {
      font-size: 1.2rem;
      margin-bottom: 2.5rem;
    }

    &__menu {
      top: 1.2rem;
      right: 1.5rem;
      font-size: 1.2rem;
    }

    &__title {
      font-size: 1.8rem;
    }

    &__subtitle {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }

    &__progress {
      &__text {
        &--end {
          padding-bottom: 1.5rem;
          margin-bottom: 0.8rem;
          border-bottom: 1px solid $gary-mid-color;
        }
      }

      &-bar {
        height: 0.6rem;
        border-radius: 3px;
        margin: 0.5rem 0;
      }
    }

    &__avatars {
      & > .card__avatar {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: -5px;
        border: 1px solid $white-color;
      }

      & > .card__add-icon {
        font-size: 2.5rem;
        margin-left: 0.5rem;
      }
    }

    &__deadline {
      padding: 0.8rem 2rem;
      border-radius: 20px;
      font-size: 1rem;
    }
  }
}

.card__progress-bar-fill {
  width: 0%; // default
  transition: width 0.4s ease;
}

.card--progress-10 .card__progress-bar-fill {
  width: 10%;
}
.card--progress-20 .card__progress-bar-fill {
  width: 20%;
}
.card--progress-30 .card__progress-bar-fill {
  width: 30%;
}
.card--progress-40 .card__progress-bar-fill {
  width: 40%;
}
.card--progress-50 .card__progress-bar-fill {
  width: 50%;
}
.card--progress-60 .card__progress-bar-fill {
  width: 60%;
}
.card--progress-70 .card__progress-bar-fill {
  width: 70%;
}
.card--progress-80 .card__progress-bar-fill {
  width: 80%;
}
.card--progress-90 .card__progress-bar-fill {
  width: 90%;
}
.card--progress-100 .card__progress-bar-fill {
  width: 100%;
}

// Color variants using BEM modifiers
.card--white {
  @include card-theme($card-white-primary, $card-white-secondary, #55cdf52c);
}

.card--orange {
  @include card-theme($card-orange-primary, $card-orange-secondary);
}

.card--green {
  @include card-theme($card-green-primary, $card-green-secondary);
}

.card--pink {
  @include card-theme($card-pink-primary, $card-pink-secondary);
}

.card--purple {
  @include card-theme($card-purple-primary, $card-purple-secondary);
}

.card--skin {
  @include card-theme($card-skin-primary, $card-skin-secondary);
}

// - #F3F6FD
// - #151522
// - #FFFFFF
// - #FDE5CC
// - #B4F1CE
// - #FFD3E2
// - #E9E7FD
