@use "../abstracts/variables" as *;

.nav {
  &__contianer {
    list-style: none;
    padding-top: 4rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media (max-width: 49em) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0;

      background-color: $white-color;
      border-radius: 50px;

      order: 2; /* Move navigation below content on mobile */
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
      background: #f3f6fd;
      padding: 1rem 0;
    }
  }

  &__link {
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.8rem;

    &-icon {
      color: inherit;
      z-index: 1;
    }

    &:hover {
      color: $white-color;
      background-color: $black-color;
      border-radius: 50%;
    }
  }
}
