@use "../abstracts/variables" as *;

.project-container {
  border-radius: 50px;
  background-color: $white-color;
}

.project-all-info-container {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  @media (max-width: 54.5em) {
    gap: 3rem;
  }
  @media (max-width: 36.5em) {
    flex-wrap: wrap;
    margin-right: 2rem;

    
  }
}
